<footer class="footer">
    <img src="/assets/tno-icon.svg" alt="TNO Logo" class="logo">
    <p>&copy; 2024 TNO. Alle rechten voorbehouden.</p>
    <p><a href="https://www.tno.nl/">Privacybeleid</a> | <a href="https://www.tno.nl/">Voorwaarden</a> | <a href="https://www.tno.nl/">Contact</a></p>
    <div class="footer-icons">
        <a href="https://www.facebook.com/TNO">
            <img src="/assets/facebook-icon.svg" alt="Facebook">
        </a>
        <a href="https://twitter.com/TNO_Research">
            <img src="/assets/twitter-icon.svg" alt="Twitter">
        </a>
        <a href="https://www.linkedin.com/company/tno">
            <img src="/assets/linkedin-icon.svg" alt="LinkedIn">
        </a>
    </div>
</footer>